.page {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: calc(100vh - 38px);
  margin-top: 38px;
  margin-left: 38px;
  > * {
    display: flex;
    padding: 15px;
    height: 100%;
    width: 100%;
  }
}